{{!-- Formulario de registro --}}
<div class="errores " id="errores">
   
{{> showMessages messages}}
</div>

<div class="container mt-10" id="container">
     <div class="form-container sign-up-container mt-2">
    </div>
  

    <div class="form-container sign-in-container">
      <form method="POST" class="form" action="/crear-cuenta">
        <h1 class="font-weight-bold">Crear cuenta Colaborador</h1>
                <input name="nombre" type="text" placeholder="Nombre completo" /value="{{nombre}}">
        <input name="email" type="email" placeholder="Correo electrónico" /value="{{email}}">
        <input name="password" type="password" placeholder="Contraseña" /value="{{password}}">
        <select class ="form-control"  name="servicio" id="">
           {{#each servicios as |servicio|}}
                    <option value="{{servicio._id}}">{{servicio.nombre}}</option>
               {{/each}}
        </select>
        <input type="text" name="tipoUsuario" value="colaborador" hidden>
        <br>
    
        <button type="submit" class="btn  btn-rounded">Registrarse</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1 class="font-weight-bold">!Hola amigo!</h1>
          <p>¿Ya tienes una cuenta? !Inicia sesión aquí! </p>
          <button class="but" id="signUp">Iniciar Sesion</button>
        </div>
      </div>
    </div>
    
  </div>
</div>